{% extends "base.html" %}
{% block content %}
<section id="content">
  {% block content_title %}
  <h2>Latest News</h2>
  {% endblock %}
  
  <ol id="post-list">
    {% for article in articles_page.object_list %}
    <li><article class="hentry">
        <header>
	  <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
	</header>
        <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        <footer class="post-info">
	  <p class="category"><a href="{{ article.category.url }}">{{ article.category }}</a></p>
          <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
          <address class="vcard author">By
            {% for author in article.authors %}
            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
            {% endfor %}
          </address>
        </footer><!-- /.post-info -->
    </article></li>
    {% endfor %}
  </ol><!-- /#posts-list -->
  {% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
