body {
    background-color: white;
    color: #626263;
    margin: 0;
    padding-bottom: 64px;
}

header {
    display: block;
    background-color: #000000;
    color: #D96808;
    box-shadow: 0px 10px 2px black;
    margin: 0 auto;
    padding: 0;
}

header h1 {
    font-family: 'Fondamento', cursive;
    font-size: 250%;
    margin: 0 auto;
    max-width: 480px;
    background: url('/static/img/rhino.png') no-repeat bottom right;
    padding-top: 1em;
    padding-bottom: 0.2em;
}

header h1 a {
    color: #D96808;
    text-decoration: none;
}

article {
    max-width: 480px;
    margin: 0 auto;
}

article h2 {
    font-family: 'Belleza', sans-serif;
    font-size: 180%;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
}

article div {
    font-family: 'Open Sans', sans-serif;
}

article div p {
    margin-bottom: 1em;
    line-height: 110%;
}
