body {
    background-color: white;
    color: #626263;
    margin: 0;
    padding-bottom: 64px;
}

body > header {
    display: block;
    background-color: #000000;
    color: #D96808;
    box-shadow: 0px 10px 2px black;
    margin: 0 auto;
    padding: 0;
}

body > header h1 {
    font-family: 'Fondamento', cursive;
    font-size: 250%;
    margin: 0 auto;
    max-width: 480px;
    background: url('/theme/img/rhino.png') no-repeat bottom right;
    padding-top: 1em;
    padding-bottom: 0.2em;
}

header h1 a {
    color: #D96808;
    text-decoration: none;
}

section#content {
    max-width: 480px;
    margin: 0 auto;
    margin-top: 2em;
}

section#content h2 {
    margin-bottom: 1em;
    font-size: 200%;
}

article h2 {
    font-family: 'Belleza', sans-serif;
    font-size: 180%;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
}

article h2 a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

article p {
    margin-bottom: 1em;
    line-height: 110%;
    font-family: 'Open Sans', sans-serif;
}

article abbr {
    display: block;
}

article address {
    margin-bottom: 0.5em;
}